.nav-bar {
  display: inline-flex;
  height: 100vh;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.logo-wrapper {
  display: flex;
}

.logo {
  width: 101px;
  height: 48px;
  flex-shrink: 0;
  aspect-ratio: 101/48;
}

.nav-wrapper {
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.nav-list {
    list-style: none;
}

a {
    text-decoration: none;
}