.page-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  width: 100%;
}

.campus-container {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.campus-header {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}

.campus-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Foundation-Blue-blue-600, #006fe8);
  cursor: pointer;
}

.campus-btn .btn-text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.map {
  height: 670px;
  overflow: auto;
}

@media (max-width: 640px) {
  .campus-container {
    flex-wrap: wrap;
  }
}
